<div class="tag">
  <%= link_to "<span></span>".html_safe, "#", class: "remove",
    title: "remove" %>
  <%= tag.name %>
</div>

<%# <div class="tag"> %>
<%#   <% if policy(ticket).tag? %1> %>
<%#     <%= link_to "<span></span>".html_safe, %>
<%#       remove_ticket_tag_path(ticket, tag), method: :delete, remote: true, %>
<%#       class: "remove", title: "remove" %1> %>
<%#   <% end %1> %>
<%#   <%= link_to tag.name, search_project_tickets_path(ticket.project, %>
<%#     search: "tag:#{tag.name}") %1> %>
<%# </div> %>
